#dependencies
/frontend/node_modules

# misc
.vscode/
.idea
.DS_Store
**/.env*
/frontend/src/utils/config.js

# edge
**/tmp
**/venv
**/spotify_appkey.key

#amplify
/frontend/amplify/#current-cloud-backend
/frontend/amplify/.config/local-*
/frontend/amplify/logs
/frontend/amplify/mock-data
/frontend/amplify/backend/amplify-meta.json
/frontend/amplify/backend/awscloudformation
/frontend/amplify/backend/.temp
/frontend/src/aws-exports.js
/frontend/awsconfiguration.json
/frontend/amplifyconfiguration.json
/frontend/amplify-build-config.json
/frontend/amplify-gradle-config.json
/frontend/amplifytools.xcconfig