# misc
.vscode/
.idea
.DS_Store
**/.env*

# frontend
/frontend/node_modules
/frontend/src/utils/config.js
/frontend/debug.log

# edge
**/tmp
**/venv
**/spotify_appkey.key

#amplify
/frontend/amplify
/frontend/src/aws-exports.js