:root {
    --yellow: #FAD02C;
    --dark-blue: #3C5871;
    --blue: #5F7991;
    --light-blue: #90ADC6;
    --white: #F3FAFF;
}

.App {
    width: 100vw;
    height: 100vh;
    background-color: var(--light-blue);
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.header {
    padding-top: 25px;
    padding-left: 25px;
    width: 25vw;
    height: 100vh;
}

.header > img {
    width: 200px;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 75vw;
    height: 100vh;
}

.body button {
    background-color: var(--blue);
    color: var(--white);
    font-size: large;
    border: none;
    border-radius: 50px;
    width: 250px;
    height: 50px;
    margin: 25px;
}

.body button:hover {
    cursor: pointer;
    background-color: var(--dark-blue);
}

.search {
    display: flex;
    flex-direction: row;
}

.search img {
    position: absolute;
    text-align: center;
    height: 20px;
    padding: 5px;
}

.search form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
}

.search input {
    border: none;
    border-radius: 25px;
    height: 25px;
}

.search input[type="text"] {
    padding-left: 30px !important;
}

.results {
    height: 75vh;
    overflow-y: scroll;
}

.results::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.results::-webkit-scrollbar-thumb {
    background: var(--dark-blue);
}

.result {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.result p {
    margin: 0 0 0 10px;
}

.result button {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 100%;
    padding: 5px;
    background-color: var(--blue);
    color: var(--white);
    font-size: small;
}

.result button:hover {
    cursor: pointer;
    background-color: var(--dark-blue);
}

*:focus {
    outline: 0 !important;
}