:root {
  --yellow: #FAD02C;
  --dark-blue: #3C5871;
  --blue: #5F7991;
  --light-blue: #90ADC6;
  --white: #F3FAFF;
}
.App {
  width: 100vw;
  height: 100vh;
  background-color: var(--light-blue);
}
