:root {
  --yellow: #FAD02C;
  --dark-blue: #3C5871;
  --blue: #5F7991;
  --light-blue: #90ADC6;
  --white: #F3FAFF;
}
.App {
  width: 100vw;
  height: 100vh;
  background-color: var(--light-blue);
}
.header {
  padding-top: 25px;
  padding-left: 25px;
}
.body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.body button {
  background-color: var(--blue);
  color: var(--white);
  font-size: large;
  border: none;
  border-radius: 50px;
  width: 250px;
  height: 50px;
}

.body button:hover {
  cursor: pointer;
  background-color: var(--dark-blue);
}

*:focus {
    outline: 0 !important;
}